@import "reset.styl"

body
 font-family Exo

.layout
  width 1440px
  height: 5000px
  margin 0 auto
  overflow hidden

.photo
  height 813px
  object-fit contain
  background-repeat no-repeat
  background-image url("../img/photo1.jpg")

.thereisno
  width 800px
  margin 0 auto
  padding 180px 0 0
  font-size 60px
  font-weight 100
  line-height 74px
  letter-spacing 2.4px
  text-align center
  color #282828   

.circle
  width 59px
  height 59px
  margin 60px auto 
  text-align center
  border-radius 50px
  background-color #8286a5  
  background-image url("../img/playbutt.png")
  background-repeat no-repeat
  background-position 23px 20px
  cursor pointer

.button
  width 190px
  height 50px
  margin -10px 630px 
  border-radius 3px
  background-color #ff6d6d
  border none
  font-size 16px
  line-height 20px
  text-transform uppercase
  letter-spacing 3.2px
  text-align center
  color #ffffff 
  cursor pointer

.button:active  
  background-color red 

.textnoneed
  margin 30px
  font-family Exo
  font-size 14px
  letter-spacing 0.56px
  text-align center
  color #828283  

.blo
  margin 0

.xxx
  padding 200px 0 0 151px
  overflow hidden   

.NEWDESIGN
  font-size 16px
  font-weight 500
  line-height 50px
  text-transform uppercase
  letter-spacing 3.2px
  text-align left
  color #ff6d6d  

.thereisnoother
  width 600px
  font-size 40px
  font-weight 500
  line-height 50px
  letter-spacing 1.6px
  text-align left
  color #282828 

.tochki
  color #ff6d6d
  display inline 

.aenean
  width 600px
  opacity 0.66
  font-size 16px
  font-weight 500
  line-height 26px
  letter-spacing 0.64px
  text-align left
  color rgba(40, 40, 40, 0.66)  

.aeaneu
  margin-top 45px  

.kvadrat
  width 567px
  height 724px
  position relative
  overflow hidden 
  float right
  background-color #ededed

.rous-kvadrat
  width 1200px
  position absolute
  margin-top 270px
  height 1000px
  background-color #ff6d6d
  transform rotate(-50deg)
  opacity 0.8  




  
