@import "reset.styl"

.layout
  width 1440px
  height: 5000px
  margin 0 auto
  overflow hidden

.photo
  width 1467px
  height 813px
  padding 0 291px 229px 0
  object-fit contain
  background-repeat no-repeat
  background-image url("../img/photo1.jpg")

.thereisno
  width 800px
  margin 0 auto
  padding 50px 0 0
  font-family Exo
  font-size 60px
  font-weight 100
  font-stretch normal
  font-style normal
  line-height 69px
  letter-spacing 2.4px
  text-align center
  color #282828    

.circle
  width 59px
  height 59px
  margin 60px auto 
  text-align center
  border-radius 50px
  background-color #323969
  background-image url("../img/playbutt.png")
  background-repeat no-repeat
  background-position 50% 50%



  
