@import "reset.styl"

.photo 
  width 1467px
  height 813px
  padding 0 291px 229px 0
  object-fit contain
  background-repeat no-repeat
  background-image url("../img/photo1.jpg")

.greenline
  width 1400px
  height 813px
  background-color #9dd76a

.text1
  width 765px
  font-family Exo
  font-size 60px
  height 138px
  margin-left 337px
  padding-top 214px
  font-weight 100
  font-stretch normal
  font-style normal
  line-height 1.25
  letter-spacing 1.7px
  text-align center
  color #282828


.playbutt
  width 15px
  margin 55px 324px 39px 691px
  padding 20px 19px 20px 23px
  border-radius 50px
  background-color #323969

.orangerbutt
  width 87px
  margin 35px 627px 19px
  padding 18px 53px 20px 50px
  border-radius 3px
  background-color #ff6d6d

.text2
  width 87px
  height 12px
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.9px
  letter-spacing 2.3px
  text-align center
  color #ffffff
  text-transform uppercase

.text3
  width 209px
  margin 23px 260px 0 616.8px
  opacity 0.9
  font-family Exo
  font-size 13.8px
  font-weight bolder
  font-stretch normal
  font-style normal
  line-height 5.38px
  letter-spacing 0.56px
  text-align center
  color rgba(40, 40, 40, 0.6)
  
.textNew
  height 13px
  padding-top 175px
  font-family Exo
  margin-left 149px
  font-size 16px
  font-weight 500
  font-stretch normal
  font-style normal
  line-height 3.13
  letter-spacing 3.2px
  text-align left
  text-transform uppercase
  color #ff6d6d

.textThere
  width 550px
  height 93px
  margin-left 149px
  margin-top 31px
  font-family Exo
  font-size 40px
  font-weight 500
  font-stretch normal
  font-style normal
  line-height 0.8
  letter-spacing 1.1px
  text-align left
  color #282828
  
.textThere-1
  color #ff6d6d
  display inline 
  font-size 70px 

.bigtext
  width 571px
  height 200px
  margin-left 149px
  padding-top 39px
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 1.63
  letter-spacing 0.4px
  text-align left
  color rgba(40, 40, 40, 0.66)

.textmarg 
  margin-bottom 30px 

.kvadrat
  width 700px
  position relative
  margin-left 875px
  margin-top 228px
  height 724px
  overflow hidden 
  opacity 1
  background-color #ededed

.rous-kvadrat
  width 1200px
  position absolute
  margin-top 380px
  height 1000px
  background-color #ff6d6d
  transform rotate(-40deg)
  opacity 0.8

  
.conteiner2
  height 675px
  margin-top 175px
  position relative
  padding 0 84px 0 97px
  z-index 2
  overflow hidden
  background-color #f6f5f3

.photoins
  width 291px
  height 314px
  margin 0 118px 70px -3px
  object-fit contain
  mix-blend-mode multiply

.photoins-1
  width 162px
  height 215px  
  margin -350px 118px 70px 1000px
  mix-blend-mode multiply

.textfeatures
  margin -267px 147px 0 150px
  font-family Exo
  font-size 16px
  font-weight 800
  font-stretch normal
  font-style normal
  line-height 3.13
  letter-spacing 3.2px
  text-align center
  text-transform uppercase
  color #ff6d6d
  
.someawesone
  margin -3px 200px 89px 203px
  font-family Exo
  font-size 40px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 0.9
  letter-spacing 1.1px
  text-align center
  color #282828

.picture
  margin-right 314px
  margin-left 210px
  border-style solid
  border-width 1px
  margin-bottom 10px
  border-image-source linear-gradient(to top, #000000, #ffffff)
  display inline

.airplane
  margin-right 322px
  display inline
  border-image-source: linear-gradient(to top, #000000, #ffffff)
 

.bulb
  display inline
  border-image-source linear-gradient(to top, #000000, #ffffff)
    
.textbuttpict
  position absolute
  margin-left 121px
  margin-top 10px
  font-family Exo
  font-size 22px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 2.27
  letter-spacing 0.5px
  text-align center
  color #282828

.textDonec
  position absolute
  width 355px
  height 70px
  margin-left 75px
  margin-top 57px 
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 1.68
  letter-spacing 0.64px
  text-align center
  color rgba(40, 40, 40, 0.66)

.textopat
  position absolute
  width 300px
  height 70px
  margin-left 483px
  margin-top 11px
  font-family Exo
  font-size 22px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 2.27
  letter-spacing 0.4px
  text-align center
  color #282828

.textDonecDonec  
  position absolute
  width 359px
  height 70px
  margin-left 461px
  margin-top 58px 
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 1.63
  letter-spacing 0.64px
  text-align center
  color rgba(40, 40, 40, 0.66)

.kalamala
  position absolute
  margin-left 855px
  width 342px
  height 70px
  margin-top 9px
  font-family Exo
  font-size 22px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 2.27
  letter-spacing 0.6px
  text-align center
  color #282828

.textDonecdack
  position absolute
  width 355px
  height 70px
  margin-left 859.5px
  margin-top 57.7px 
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 1.7
  letter-spacing 0.6px
  text-align center
  color rgba(40, 40, 40, 0.66)

.coffee
  margin 380px 0 0 1080px
  object-fit contain
  mix-blend-mode multiply  

.macbook
  width 630px
  height 367px
  position absolute 
  margin-left 70px
  margin-top 92px
  z-index 1
  
.Design 
  font-family Exo
  font-size 16px
  margin-top -339px
  margin-left 682px
  font-weight 700
  font-stretch normal
  font-style normal
  line-height 3.13
  width 500px
  letter-spacing 3px
  text-align left
  color #ff6d6d  

.Resposive
  width 500px
  height 93px
  margin-left 679px
  margin-top 9px
  font-family Exo
  font-size 40px
  font-weight 500
  font-stretch normal
  font-style normal
  line-height 39px
  letter-spacing 1px
  text-align left
  color #282828  

.tochechki
  color  #ff6d6d
  display inline 
  font-size 70px 

.bgigtextbig
  width 510px
  height 96px
  margin-top 34px
  opacity 0.66
  font-family Exo
  margin-left 679px
  font-size 16px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 1.63
  letter-spacing 0.64px
  text-align left
  color rgba(40, 40, 40, 0.66)  

.treygolnik
  width 1654px
  height 1553px
  margin-left -1002px
  margin-top 140px
  opacity 0.8
  background-color #ff6d6d
  transform rotate(-44deg)

.leyuot
  width 1440px
  height 7254px
  margin 0 auto
  overflow hidden
  
.blackwindow
  width 1500px
  position relative
  z-index 2
  height 648px
  margin-top -1146px
  object-fit contain
  background-color #000000
  background-image url("../img/group-5.jpg")

.Jonphoto
  width 76px
  height 76px
  margin-left 299px
  margin-right 299px
  margin-top 110px
  border solid 2px #1d1e24
  background-color #4e4e5e  
  display inline-block

.Jonphoto1  
  width 76px
  height 76px
  margin-right 317px
  border solid 2px #1d1e24
  background-color #4e4e5e 
  display inline-block 

.Jonphoto2
  width 76px
  height 76px
  border solid 2px #1d1e24
  background-color #4e4e5e
  display inline-block 

.Johtext
  position absolute
  height 18px
  font-family Exo
  font-size 22px
  font-weight 500
  font-stretch normal
  margin-top 86px
  margin-left -37px
  font-style normal
  line-height 2.27
  letter-spacing 0.88px
  text-align center
  color #ffffff 

.Johntext1  
  position absolute
  height 18px
  font-family Exo
  font-size 22px
  font-weight 500
  font-stretch normal
  margin-top 86px
  margin-left -31px
  font-style normal
  line-height 2.27
  letter-spacing 0.88px
  text-align center
  color #ffffff 

.Johntext2 
  position absolute
  height 18px
  font-family Exo
  font-size 22px
  font-weight 500
  font-stretch normal
  margin-top 86px
  margin-left -40px
  font-style normal
  line-height 2.27
  letter-spacing 0.88px
  text-align center
  color #ffffff   

.redtext
  position absolute
  margin-top 114px
  margin-left -3px
  font-family Exo
  font-size 16px
  font-weight 500
  font-stretch normal
  font-style normal
  line-height 3.13
  letter-spacing normal
  text-align center
  color #ff6d6d  

.Johnbigtext
  height 96px
  position absolute
  width 350px
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style italic
  line-height 1.63
  letter-spacing 0.64px
  text-align center
  color rgba(255, 255, 255, 0.66)
  margin-top 180px 
  margin-left -140px
  

.Johnbig
  height 96px
  position absolute
  width 324px
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style italic
  line-height 1.63
  letter-spacing 0.64px
  text-align center
  color rgba(255, 255, 255, 0.66)
  margin-top 180px 
  margin-left -115px

.Johnbi
  height 96px
  position absolute
  width 330px
  opacity 0.66
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style italic
  line-height 1.63
  letter-spacing 0.64px
  text-align center
  color rgba(255, 255, 255, 0.66) 
  margin-top 180px 
  margin-left -130px

.nachalo 
  margin-top 287px
  display inline-block
  margin-left 120px

.chlen
  display inline-block
  margin-left 110px
  width 130px
  height 65px

.karten
  display inline-block
  margin-left 110px
  width 110px
  height 56px

.matern  
  display inline-block
  margin-left 110px
  width 98px
  height 85px 

.mut
  display inline-block
  margin-left 110px
  width 95px
  height 61px 

.rutina 
  display inline-block
  margin-left 110px 
  width 120px 
  height 54px

.newblock
  width 1440px
  height 754px
  position absolute
  z-index 2
  background-color #f6f5f3

.newnewfeatures
  height 13px
  font-family Exo
  font-size 16px
  font-weight 700
  font-stretch normal
  font-style normal
  line-height 3.13
  margin-top 90px
  margin-left 20px
  letter-spacing 3.2px
  text-align center
  color #ff6d6d 

.kalili
  margin-top 28px
  margin-left 496px
  font-family Exo
  position absolute
  font-size 40px
  font-weight 700
  font-stretch normal
  font-style normal
  line-height 1.25
  letter-spacing 1px
  text-align center
  color #282828

.kalibigtext
  width 680px
  opacity 0.66
  margin-top 110px
  margin-left 393px
  font-family Exo
  position absolute
  font-size 16px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 1.7
  letter-spacing 0.5px
  text-align center 

.iloveyou
  margin-top 280px
  margin-left 318px  
  width 768px
  height 322px

.myderlove
  height 467px
  position relative
  z-index 2
  margin-top 760px
  background-color #323969

.designersare
  margin-top -9px
  font-family Exo
  font-size 40px
  font-weight 500
  margin-left -3px
  font-stretch normal
  font-style normal
  line-height 1.25
  letter-spacing 1px
  text-align center
  color #ffffff

.kakaha
  position absolute
  font-family Exo
  font-size 16px
  font-weight 500
  font-stretch normal
  font-style normal
  line-height 3.13
  letter-spacing 3.2px
  text-align center
  color #ff6d6d
  margin-top 75px
  margin-left 415px

.fullname
  width 263px
  height 49px
  opacity 0.5
  position absolute
  margin-top 260px
  margin-left 157px
  border-radius 3px
  border solid 1px #ffffff
  background-color #323969

.textFULLNAME
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.64px
  text-align left
  color #f6f5f3  
  margin-left 30px
  margin-top -10px

.youremail
  width 263px
  height 49px
  opacity 0.5
  position absolute
  margin-top 260px
  margin-left 449px
  border-radius 3px
  border solid 1px #ffffff
  background-color #323969

.textyouremail  
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.64px
  text-align left
  color #f6f5f3  
  margin-left 30px
  margin-top -10px

.password  
  width 263px
  height 49px
  opacity 0.5
  position absolute
  margin-top 260px
  margin-left 742px
  border-radius 3px
  border solid 1px #ffffff
  background-color #323969

.textpassword
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.64px
  text-align left
  color #f6f5f3  
  margin-left 30px
  margin-top -10px

.TRYNOW
  width 258px
  height 50px
  position absolute
  margin-top 260px
  margin-left 1040px
  border-radius 3px
  box-shadow 0px 3px 3px 0 rgba(14, 15, 15, 0.25)
  border solid 1px #ff6d6d
  background-color #ff6d6d 

.textTRYNOW
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 3.72
  letter-spacing 0.64px
  text-align left
  color #f6f5f3  
  margin-left 78px
  margin-top -8px

.bysign
  position absolute
  margin-top 334px
  margin-left 540px
  opacity 0.6
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.4px
  text-align left
  color rgba(246, 245, 243, 0.6)

.daysfree
  position absolute
  margin-left 1075px
  margin-top 175px
  font-family Exo
  font-size 16px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.6px
  text-align left
  color #f6f5f3  

.arrow
  width 56px
  height 41px
  margin-top -48px
  margin-left -34px

.start
  width 92px
  height 20px
  margin-top 84px
  margin-left 160px
  font-family Lato
  font-size 27px
  font-weight normal
  font-stretch normal
  font-style normal
  line-height 1.24
  letter-spacing normal
  text-align left
  color #2c2f49 

.treygolnikEx
  width 43px
  position absolute
  margin-top -39px
  margin-left 60px
  height 47px
  

.startEx
  color #ffffff
  position absolute
  z-index 2
  margin-top -45px
  text-align center


.aenean
  width 231px
  margin-top 20px
  margin-left -3px
  position absolute
  opacity 0.56
  font-family Exo
  font-size 14px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 1.86
  letter-spacing 0.56px
  text-align left
  color rgba(40, 40, 40, 0.56)  

.support
  width 84px
  height 22px
  margin-top -30px
  margin-left 455px
  font-family Exo
  font-size 22px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 2.27
  letter-spacing 0.88px
  text-align left
  color #282828  

.helpcenter
  width 90px
  margin-top 6px
  margin-left 2px
  opacity 0.66
  font-family Exo
  font-size 14px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 2.14
  letter-spacing 0.56px
  text-align left
  color rgba(40, 40, 40, 0.66)  

.aboutuss
  width 99px
  position absolute
  margin-left 650px
  margin-top -6px
  font-family: Exo
  font-size 22px
  font-weight 900
  font-stretch normal
  font-style normal
  line-heigh: 2.27
  letter-spacing 0.88px
  text-align left
  color #282828 

.termsofuse
  width 99px
  height 75px
  margin-top 20px
  opacity 0.66
  font-family Exo
  font-size 14px
  font-weight 600
  font-stretch normal
  font-style normal
  line-height 2.14
  letter-spacing 0.56px
  text-align left
  color rgba(40, 40, 40, 0.66)

.GetNewsletter
  margin-left 843px
  margin-top -19px
  font-family Exo
  font-size 22px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 2.27
  letter-spacing 0.88px
  text-align left
  color #282828 

.emailget
  width 263px
  height 49px
  margin-top 10px
  opacity 0.4
  border-radius 3px
  border solid 1px #4e4e5e

.emailtext
  width 47px
  height 13px
  margin-top -13px
  margin-left 27px
  font-family Exo
  font-size 16px
  font-weight 900
  font-stretch normal
  font-style normal
  line-height 4.69
  letter-spacing 0.64px
  text-align left
  text-transform uppercase

.smollkvadrat
  width 52px
  height 49px
  margin-left 210px
  margin-top -3px
  border-radius 3px
  box-shadow 0px 3px 3px 0 rgba(14, 15, 15, 0.25)
  border solid 1px #ff6d6d
  background-color #ff6d6d  

.vertolet
  width 22px
  height 22px
  margin-left 14px
  object-fit contain 
  margin-top 4px

.socialki
  width 153px
  height 21px
  margin-top 10px
  margin-left 45px
  cursor pointer

.endbigtreyg
  width 1654px
  height 1553px
  position absolute
  opacity 0.8
  background-color #ff6d6d 
  transform rotate(-44deg) 
  margin-left 110px
  margin-top -370px
  